In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# cargo los datos de los csv en los data frame

In [17]:
propertiesSell8_17SixMonths = pd.read_csv('Data/csv/sell/properati-AR-2017-08-01-properties-sell-six_months.csv')

In [18]:
propertiesSell8_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-08-01-properties-sell.csv')

In [15]:
propertiesSell8_17.head()

,id,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,c8a66ee9e3da083ab66dacd165e8a5cc718b1cf2,2012-09-19,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,3429244.0,NaN,...,93.0,360.360360,1290.322581,NaN,NaN,NaN,http://www.properati.com.ar/udh_venta_casa_mer...,CASA CON LOCAL EN VENTA EN PADUA.2 DORMITORIOS...,CASA EN VENTA,https://thumbs4.properati.com/1/ufoyqwscVk8n3e...
1,a205c53378e7879cf7519659317fb410c060d20e,2012-10-22,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,3429244.0,NaN,...,220.0,1000.000000,1000.000000,NaN,NaN,NaN,http://www.properati.com.ar/20hi_venta_casa_me...,CHALET VENTA 4 AMBIENTES PADUA.EXCELENTE CHALE...,CASA EN VENTA,https://thumbs4.properati.com/5/I5RS_jAIUseo9H...
2,e06d6f864a0b91346594da4d27ceddcef0947ea6,2012-11-01,sell,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0199509,-57.5265733",...,42.0,NaN,NaN,NaN,2.0,NaN,http://www.properati.com.ar/336o_venta_departa...,DTO. 2 AMB. C/ VISTA PLENA AL 6 X 3DOMITORIO ...,DTO. 2 AMB. C/ VISTA PLENA AL MAR,https://thumbs4.properati.com/5/VjDOdzm9n8uqZu...
3,a07927207d2a03de5f4ba7fd76f670d6285a3315,2012-11-26,sell,house,Sierra de los Padres,|Argentina|Buenos Aires Interior|General Pueyr...,Argentina,Buenos Aires Interior,3427958.0,"-37.9511934894,-57.7752885836",...,265.0,NaN,NaN,NaN,6.0,NaN,http://www.properati.com.ar/47hc_venta_terreno...,PROPIEDAD DE CATEGORIA CUENTA CON: 4 DORMITOR...,CHALET EN VENTA,https://thumbs4.properati.com/9/DA4GMdxXrthh5z...
4,9446052c949050359fb08b9f1ba83ba2eaa20c99,2012-12-08,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6544492346,-58.4895603251",...,103.0,616.666667,1796.116505,NaN,5.0,NaN,http://www.properati.com.ar/4m4m_venta_casa_ma...,Casa Multifamiliar en Mataderos!!! Sobre lote ...,CASA EN VENTA,https://thumbs4.properati.com/6/DsNJjCb5_zIPV0...

In [14]:
propertiesSell8_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187482 entries, 0 to 187481
Data columns (total 27 columns):
id                            187482 non-null object
created_on                    187482 non-null object
operation                     187482 non-null object
property_type                 187482 non-null object
place_name                    187447 non-null object
place_with_parent_names       187482 non-null object
country_name                  187482 non-null object
state_name                    187482 non-null object
geonames_id                   158318 non-null float64
lat-lon                       118761 non-null object
lat                           118761 non-null float64
lon                           118761 non-null float64
price                         154443 non-null float64
currency                      154441 non-null object
price_aprox_local_currency    154443 non-null float64
price_aprox_usd               154443 non-null float64
surface_total_in_m2           125027 non-null float64
surface_covered_in_m2         152420 non-null float64
price_usd_per_m2              105024 non-null float64
price_per_m2                  131665 non-null float64
floor                         14294 non-null float64
rooms                         80320 non-null float64
expenses                      17520 non-null float64
properati_url                 187482 non-null object
description                   187473 non-null object
title                         187482 non-null object
image_thumbnail               182814 non-null object
dtypes: float64(13), object(14)
memory usage: 28.6+ MB

In [19]:
propertiesSell2_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-02-01-properties-sell.csv')

In [20]:
propertiesSell3_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-03-01-properties-sell.csv')

In [21]:
propertiesSell4_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-04-01-properties-sell.csv')

In [22]:
propertiesSell5_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-05-01-properties-sell.csv')

In [23]:
propertiesSell6_6_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-06-06-properties-sell.csv')

In [24]:
propertiesSell6_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-06-01-properties-sell.csv')

In [27]:
propertiesSell7_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-07-01-properties-sell.csv')

In [28]:
propertiesSell7_17SixMoths = pd.read_csv('Data/csv/sell/properati-AR-2017-07-01-properties-sell-six_months.csv')

In [29]:
propertiesSell7_3_17 = pd.read_csv('Data/csv/sell/properati-AR-2017-07-03-properties-sell.csv')

# armo una serie de data frames para poder filtrar los que son de CABA y GBA

In [31]:
dfs = [propertiesSell2_17, propertiesSell3_17, propertiesSell4_17, propertiesSell5_17, propertiesSell6_17, propertiesSell7_17, propertiesSell7_17SixMoths,propertiesSell7_3_17,propertiesSell8_17SixMonths]

# por ahi se pueden filtrar de alguna forma mas copada pero fue la primera que se me ocurrio xD

In [32]:
dfs2 = []
for df in dfs:
    df[df['state_name'].str.contains('G.B.A')| df['state_name'].str.contains('Capital Federal')]
    dfs2.append(df)

# Me quedo con las columnas que creo que interesaban

In [33]:
df3 = []
for df in dfs2:
    df.loc[:,['id', 'created_on', 'operation','property_type','place_name','state_name','price','currency','price_aprox_local_currency','price_aprox_usd','surface_total_in_m2','surface_covered_in_m2','price_usd_per_m2','floor','rooms','expenses']]
    df3.append(df)

# armo csv mas livianos porque mi compu es super lenta

In [34]:

i = 1
for df in df3:
    name_csv = 'sell'+str(i) +'2017.csv'
    df.to_csv(name_csv)
    i= i +1

# cargo los nuevos csv en otros data frame, de ahora en mas corro desde aca :)

In [3]:
propertiesSell2_17 = pd.read_csv('Data/csv/sell/sell12017.csv')

In [22]:
propertiesSell3_17 = pd.read_csv('Data/csv/sell/sell22017.csv')

In [5]:
propertiesSell4_17 = pd.read_csv('Data/csv/sell/sell32017.csv')

In [6]:
propertiesSell5_17 = pd.read_csv('Data/csv/sell/sell42017.csv')

In [7]:
propertiesSell6_17 = pd.read_csv('Data/csv/sell/sell52017.csv')

In [10]:
propertiesSell6_6_17 = pd.read_csv('Data/csv/sell/sell62017.csv')

In [11]:
propertiesSell7_17 = pd.read_csv('Data/csv/sell/sell72017.csv')

In [12]:
propertiesSell8_17 = pd.read_csv('Data/csv/sell/sell82017.csv')

In [13]:
propertiesSell8_17SixMonths = pd.read_csv('Data/csv/sell/sell92017.csv')

In [39]:
properties = [propertiesSell2_17, propertiesSell3_17, propertiesSell4_17, propertiesSell5_17, propertiesSell6_17, propertiesSell7_17, propertiesSell8_17, propertiesSell8_17SixMonths]

### Creo un csv con todas las propiedades en venta durante el 2017

In [ ]:
pd.concat(properties).to_csv('propertiesForSale2017.csv')

### vuelvo a cargar en un data frame para poder trabajar despues desde aca

In [8]:
properties2017 = pd.read_csv('Data/csv/sell/propertiesForSale2017.csv')

,Unnamed: 0,Unnamed: 0.1,id,created_on,operation,property_type,place_name,state_name,surface_covered_in_m2,price_usd_per_m2,floor,rooms,expenses
0,0,0,62092fb92d41a36dc5a77738eb48b8dba3647a61,2016-08-01,sell,house,José C Paz,Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,NaN,NaN
1,1,1,bd446db99bd59f3538f8a28b59d213e64d1fa9c8,2016-08-01,sell,house,José C Paz,Bs.As. G.B.A. Zona Norte,NaN,366.666667,NaN,NaN,NaN
2,2,4,5b98ca0a1fa6db3b76722263b451a2cc0dbb86dd,2016-08-01,sell,apartment,Barrio Norte,Capital Federal,162.0,3307.692308,NaN,7.0,9000.0
3,3,6,a295a94eef49d7a48051d1e77ef86190bb2eef90,2016-08-01,sell,house,Castelar,Bs.As. G.B.A. Zona Oeste,NaN,NaN,NaN,NaN,NaN
4,4,7,fa1ff3e2ba1568f7b8a3e293875a4d43ab9933af,2016-08-01,sell,house,Ituzaingó,Bs.As. G.B.A. Zona Oeste,NaN,NaN,NaN,NaN,NaN

In [10]:
properties2017[properties2017['price_usd_per_m2'].notnull()].head(5)

,Unnamed: 0,Unnamed: 0.1,id,created_on,operation,property_type,place_name,state_name,surface_covered_in_m2,price_usd_per_m2,floor,rooms,expenses
1,1,1,bd446db99bd59f3538f8a28b59d213e64d1fa9c8,2016-08-01,sell,house,José C Paz,Bs.As. G.B.A. Zona Norte,NaN,366.666667,NaN,NaN,NaN
2,2,4,5b98ca0a1fa6db3b76722263b451a2cc0dbb86dd,2016-08-01,sell,apartment,Barrio Norte,Capital Federal,162.0,3307.692308,NaN,7.0,9000.0
10,10,14,dd09c4a6adfb6ab15d02fcc1567b233d6be4a898,2016-08-01,sell,apartment,Morón,Bs.As. G.B.A. Zona Oeste,40.0,1642.857143,NaN,NaN,500.0
12,12,16,556cbf65c5f2c99a257ec1105659f1f589950479,2016-08-01,sell,house,Ituzaingó,Bs.As. G.B.A. Zona Oeste,200.0,638.888889,NaN,NaN,NaN
13,13,18,e887c65eb53bc86b68873714d669b261d5911be9,2016-08-01,sell,house,Morón,Bs.As. G.B.A. Zona Oeste,80.0,300.000000,NaN,NaN,NaN